.head {
	background: #f2f3f6;
}
body {
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
	color: #111238;
}

.menu__item:not(:last-child) {
	margin-right: 20px;
}
.header__link {
	margin-right: 30px;
	padding: 10px;
}
.btn {
	display: inline-block;
	text-align: center;
	padding: 15px 30px;
	background: #1a75e8;
	border-radius: 5px;
	color: #ffffff;
}

.hero__title {
	font-weight: 900;
	font-size: 44px;
	margin-bottom: 15px;
	margin-top: 43px;
}

.hero__text {
	font-size: 18px;
	line-height: 140%;
	margin-bottom: 30px;
}

.input-group {
	flex-wrap: wrap;
	background: #ffffff;
	border: 1px solid rgba(209, 209, 209, 0.1);
	box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
	padding: 10px;
	margin-bottom: 25px;
}

.input {
	background: #ffffff;
	border: none;
	flex-grow: 1;
	font-size: 16px;
	line-height: 19px;
	padding: 0 15px;
	margin-right: 10px;
}
.input:focus {
	outline: 1px dotted gray;
}
.button {
	min-width: 211px;
}

.button img {
	padding-right: 10px;
	vertical-align: middle;
}

.button__text {
	vertical-align: middle;
}

.tags-lable {
	display: inline-block;
	margin-right: 15px;
}

.tags-group {
	color: #b2b2b2;
	margin-left: 15px;
}

.tags-group a:not(:last-child) {
	margin-right: 10px;
	margin-top: 15px;
}

.tags-group a {
	display: inline-block;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 5px 10px;
}
.section {
	padding: 70px 0px 80px 0px;
}
.section__title {
	margin-bottom: 40px;
}

.card {
	color: #111238;
	background-color: #f2f3f6;
	border-radius: 10px;
	transition: background 0.2s, color 0.2s;
}

.card:hover {
	background-color: #1a75e8;
	color: #ffffff;
}
.card__icon {
	fill: #111238;
	margin-bottom: 15px;
	transition: fill 0.2s;
}
.card:hover .card__icon {
	fill: #ffffff;
}
.offer {
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 30px;
}
.offer:not(:last-child) {
	margin-bottom: 20px;
}

.offer__image {
	height: 100px;
	width: 100px;
	border: 1px solid #f2f3f6;
	border-radius: 50%;
	background: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-right: 20px;
}
.offer__title {
	margin-right: 46px;
}
.offer__heading {
	font-weight: bold;
}
.offer__place {
	font-size: 14px;
	margin-bottom: 10px;
}
.offer__salary {
	font-weight: bold;
	margin-right: 62px;
}
.offer__more {
	font-size: 14px;
	color: #458fec;
	margin-left: auto;
	margin-right: 25px;
}
.subscribe {
	background-color: #f2f3f6;
	text-align: center;
}
.subscribe__form {
	max-width: 469px;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0;
}
.subscribe__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 20px;
}

.subscribe__subtitle {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 140%;
}

.footer {
	padding: 70px 0 100px 0;
	text-align: left;
}
.footer__logo {
	margin-bottom: 20px;
}

.footer__copyriting,
.footer__description {
	font-size: 12px;
	line-height: 140%;
	color: #b2b2b2;
}
.footer__title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 16px;
}

.footer__item:not(:last-child) {
	margin-bottom: 10px;
}

.footer__link {
	font-size: 16px;
	line-height: 19px;
}
